@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.wishlist-container{
font-family: "Saira", sans-serif;
}

.wishlist{
    display:flex;
    flex-wrap:wrap;
  justify-content:center;
   font-family: "Saira", sans-serif;
}

.title{
    text-align:center;
}

.nothing{
  font-size:30px;
  text-align:center;
  color:red;
}