.header{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    margin:0 20px;
    padding:0 5px;
    margin-top: 20px;
    
}

.logo{
    height:12rem;
    width:18rem;
}

.title{
    font-size:78px;
}

@media screen and (max-width: 1024px) {

  .logo{
    height:8rem;
    width:10rem;
  }
  .title{
    font-size:48px;
  }
}

@media screen and (max-width: 710px) {
        
  .logo{
    height:6rem;
    width:8rem;
  }
  .title{
    font-size:28px;
  }
}
